## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=(random.sample(range(100), k=80))
print(sample_list_1)
print(len(sample_list_1))

[55, 8, 94, 23, 80, 13, 66, 95, 28, 45, 2, 51, 56, 90, 76, 33, 5, 41, 36, 52, 88, 25, 84, 83, 72, 61, 35, 40, 64, 47, 11, 74, 73, 60, 78, 27, 58, 82, 31, 32, 99, 18, 6, 22, 63, 10, 46, 59, 42, 24, 48, 1, 39, 9, 0, 79, 97, 93, 37, 38, 53, 50, 67, 77, 57, 54, 7, 15, 14, 71, 75, 21, 92, 12, 49, 43, 70, 17, 86, 65]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(type(set1))
print(len(set1))

# The lenght of se1 is still 80
len(set1)==len(sample_list_1)

<class 'set'>
80

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2=[]

for i in range(0,80):
    number=random.sample(range(100), k=1)
    sample_list_2.append(number[0])
print(sample_list_2)
print(len(sample_list_2))

[91, 58, 57, 20, 6, 7, 24, 34, 93, 61, 97, 53, 68, 30, 60, 42, 65, 24, 32, 28, 78, 66, 11, 47, 20, 13, 88, 1, 93, 43, 5, 15, 66, 39, 50, 9, 11, 8, 72, 76, 92, 49, 31, 81, 69, 47, 43, 46, 27, 2, 52, 18, 99, 91, 95, 5, 33, 49, 94, 1, 20, 56, 98, 72, 91, 36, 67, 25, 50, 74, 36, 98, 29, 95, 72, 56, 17, 93, 48, 23]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(type(set2))

<class 'set'>

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1.difference(set2)
print ("elements present in set1 not in set2:", set3)

elements present in set1 not in set2: {0, 10, 12, 14, 21, 22, 35, 37, 38, 40, 41, 45, 51, 54, 55, 59, 63, 64, 70, 71, 73, 75, 77, 79, 80, 82, 83, 84, 86, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
# Your code here
print(type(set1))

print(type(set2))

set4=set2.difference(set1)
print ("elements present in set2 not in set1:", set4)

<class 'set'>
<class 'set'>
elements present in set2 not in set1: {1, 34, 98, 68, 69, 81, 20, 91, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
print(type(set1))

set5=set1.union(set2)
print("elements shared:", set5)

<class 'set'>
elements shared: {1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set3)==len(set1.difference(set2)))
print(len(set4)==len(set2.difference(set1)))
print(len(set5)==len(set1.union(set2)))

True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
'''
#Other alternative using add
set6=set()

for i in set3:
    set6.add(i)
print(set6)

'''

set6=set()
set6.update(set3,set5)
print(set6)

{0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

print(set1==set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:


check1 = set2.issubset(set1) 
print(check1)

check2=set3.issubset(set1)
print(check2)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here
set1=set(set1)
print(type(set1))
print(type(set3))
print(type(set2))
print(type(set4))
print(type(set5))

new_set1=set5.union(set4)
new_set2=new_set1.union(set3)

new_set3=set1.union(set2)

print(new_set2)==print(new_set3)

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
{0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}

True

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# Your code here


print(set1)
set1.pop()

{2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 21, 22, 23, 24, 25, 27, 28, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 88, 90, 92, 93, 94, 95, 97, 99}

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [35]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    if e in set1:
        set1.remove(e)
print(set1)

{5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 22, 23, 24, 25, 27, 28, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 88, 90, 92, 93, 94, 95, 97}